@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;400;500;600&display=swap");

.fc {
  @apply flex items-center;
}

.fcb {
  @apply flex items-center justify-between;
}

.fcc {
  @apply flex items-center justify-center;
}

.container {
  @apply mx-auto;
}

html {
  scroll-behavior: smooth;
  font-family: "Space Mono", monospace;
  @apply select-none;
  -webkit-font-smoothing: antialiased;
}

.gradient-blue {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  caret-color: #637bff;
  color: #000;
  background: linear-gradient(90deg, #017aff -3.88%, #21c8f6 88.09%);
  -webkit-background-clip: text;
  background-clip: text;
}

.blue-gradient {
  background: linear-gradient(90deg, #017aff -3.88%, #21c8f6 88.09%);
}

.bg-glass-100 {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(35px);
}

.gradient-pink {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  caret-color: #637bff;
  color: #000;
  background: linear-gradient(90deg, #ff00c7 1.62%, #bd69ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-yellow {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  caret-color: #637bff;
  color: #000;
  background: linear-gradient(90deg, #dac400 1.62%, #ff6636 100%);
  -webkit-background-clip: text;
  background-clip: text;
}


.bg-gradient-blue {
  background: linear-gradient(90deg, #017aff -3.88%, #21c8f6 88.09%);
}

