:root {
  --default: #2759fe;
  --background: #f5f6f9;
}
html[class="dark"] {
  --default: #f9fafb;
  --background: #151f28;
}
.language-label {
  background: var(--background);
}
.copy-to-clipboard,
.fullscreen {
  display: none;
}
.code-block-container:hover .copy-to-clipboard,
.code-block-container:hover .fullscreen {
  display: block;
}
.live-editor,
code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre !important;
  word-spacing: normal;
  word-break: break-all;
  word-wrap: normal;
  color: var(--default);
  background: var(--background);
  font-family: "JetBrains Mono", monospace;

  font-size: 1rem;
  line-height: 2em;
  border-radius: 8px 8px 0px 0px;
  font-variant-ligatures: no-common-ligatures;
  overflow-x: scroll;
  position: relative;
  height: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  pre[class*="language-"],
  code[class*="language-"] {
    font-size: 0.875rem;
  }

  #article code[class*="language-"],
  #article pre[class*="language-"] {
    font-size: 0.875rem;
  }
  
  pre[class*="language-"] {
    padding: 1.5em;
  }
}

pre[class*="language-"] {
  padding: 2em;
  overflow: auto;
}

.token-line {
  padding: 0 25px;
}
.empty-line:last-child {
  display: none;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: rgba(55, 65, 81, 0.3) !important;
}
.dark .token.cdata,
.dark .token.comment,
.dark .token.doctype,
.dark .token.prolog {
  color: rgba(209, 213, 219, 0.2) !important;
}
.token.punctuation {
  color: #10b981 !important;
}
.dark .token.punctuation {
  color: #d1d5db !important;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #10b981 !important;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #8b5cf6 !important;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #f59e0b !important;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3b82f6 !important;
}
.token.class-name,
.token.function {
  color: #ec4899 !important;
}
.token.important,
.token.regex,
.token.variable {
  color: #f59e0b !important;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
pre[data-line] {
  position: relative;
}
.line-highlight {
  padding-left: 21px;
  --tw-bg-opacity: 1;
  background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
  --tw-border-opacity: 1;
  border-color: rgba(129, 140, 248, var(--tw-border-opacity));
}
.dark .line-highlight {
  --tw-border-opacity: 1;
  border-color: rgba(255, 225, 0, var(--tw-border-opacity));
}
.line-highlight {
  border-left-width: 4px;
}
html[class="dark"] .line-highlight {
  background: rgba(252, 211, 77, 0.1);
}
@media print {
  .line-highlight {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

.CODY-EDITOR {
  padding: 1rem !important;
}

.codejar-linenumbers {
  background: #f5f6f9 !important;
  mix-blend-mode: unset !important;
  color: #f4d546 !important;
  left: -3px !important;
  z-index: 10 !important;
}

.codejar-wrap {
  height: 100%;
}
.codejar-wrap div {
  height: 100%;
}


/*
	prisma design system
	This file is automatically generated
	Do not modify this file — your changes will be erased
*/

/* stylelint-disable no-duplicate-selectors */

@custom-media --media-mobile-s (max-width: 359px);
@custom-media --media-mobile-m (max-width: 413px);
@custom-media --media-mobile-l (max-width: 539px);
@custom-media --media-tablet-s (max-width: 767px);
@custom-media --media-tablet-m (max-width: 1023px);
@custom-media --media-desktop-s (max-width: 1279px);
@custom-media --media-desktop-m (max-width: 1439px);
@custom-media --media-desktop-l (max-width: 1559px);
@custom-media --media-desktop-xl (max-width: 1919px);

.prisma {
    --border-radius-10: 10px;
    --border-radius-12: 12px;
    --border-radius-14: 14px;
    --border-radius-16: 16px;
    --border-radius-20: 20px;
}

.prisma {
    --shadow-small-default: 0px 1px 4px 1px rgba(36, 36, 36, 0.07);
    --shadow-small-hovered: 0px 1px 16px 2px rgba(36, 36, 36, 0.07);
    --shadow-small-pressed: 0px 0px 6px rgba(36, 36, 36, 0.07);
    --shadow-small-hidden: 0px 1px 4px 1px rgba(36, 36, 36, 0);
    --shadow-medium-default: 0px 1px 12px 2px rgba(36, 36, 36, 0.07);
    --shadow-medium-hovered: 0px 2px 32px 6px rgba(36, 36, 36, 0.07);
    --shadow-medium-pressed: 0px 1px 8px rgba(36, 36, 36, 0.07);
    --shadow-medium-hidden: 0px 1px 12px 2px rgba(36, 36, 36, 0);
    --shadow-huge-default: 0px 2px 160px 16px rgba(36, 36, 36, 0.07);
    --shadow-huge-hidden: 0px 2px 160px 16px rgba(36, 36, 36, 0);
}

.prisma {
    font-feature-settings: 'pnum' on, 'lnum' on;

    --font-mono-caption-14-regular: 400 0.875rem/1.5714em Roboto Mono, sans-serif; /* 14px 400 */
    --font-ys-body-16-medium-paragraph: 500 1rem/1.375em YS Text, sans-serif; /* 16px 500 */
    --font-ys-body-16-medium-ui: 500 1rem/1.25em YS Text, sans-serif; /* 16px 500 */
    --font-ys-body-16-regular-paragraph: 400 1rem/1.375em YS Text, sans-serif; /* 16px 400 */
    --font-ys-body-16-regular-ui: 400 1rem/1.25em YS Text, sans-serif; /* 16px 400 */
    --font-ys-body-18-medium-paragraph: 500 1.125rem/1.4444em YS Text, sans-serif; /* 18px 500 */
    --font-ys-body-18-medium-ui: 500 1.125rem/1.2222em YS Text, sans-serif; /* 18px 500 */
    --font-ys-body-18-regular-paragraph: 400 1.125rem/1.4444em YS Text, sans-serif; /* 18px 400 */
    --font-ys-body-18-regular-ui: 400 1.125rem/1.2222em YS Text, sans-serif; /* 18px 400 */
    --font-ys-caption-12-medium: 500 0.75rem/1.3333em YS Text, sans-serif; /* 12px 500 */
    --font-ys-caption-12-regular: 400 0.75rem/1.3333em YS Text, sans-serif; /* 12px 400 */
    --font-ys-caption-14-medium: 500 0.875rem/1.2857em YS Text, sans-serif; /* 14px 500 */
    --font-ys-caption-14-regular: 400 0.875rem/1.2857em YS Text, sans-serif; /* 14px 400 */
    --font-ys-header-20-bold: 700 1.25rem/1.2em YS Text, sans-serif; /* 20px 700 */
    --font-ys-header-20-medium: 500 1.25rem/1.2em YS Text, sans-serif; /* 20px 500 */
    --font-ys-header-24-bold: 700 1.5rem/1.1667em YS Text, sans-serif; /* 24px 700 */
    --font-ys-header-24-medium: 500 1.5rem/1.1667em YS Text, sans-serif; /* 24px 500 */
    --font-ys-header-28-bold: 700 1.75rem/1.1429em YS Text, sans-serif; /* 28px 700 */
    --font-ys-header-28-medium: 500 1.75rem/1.1429em YS Text, sans-serif; /* 28px 500 */
    --font-ys-header-32-bold: 700 2rem/1.125em YS Text, sans-serif; /* 32px 700 */
    --font-ys-header-32-medium: 500 2rem/1.125em YS Text, sans-serif; /* 32px 500 */
    --font-ys-header-40-bold: 700 2.5rem/1.1em YS Text, sans-serif; /* 40px 700 */
    --font-ys-header-40-medium: 500 2.5rem/1.1em YS Text, sans-serif; /* 40px 500 */
    --font-ys-header-48-bold: 700 3rem/1.0833em YS Text, sans-serif; /* 48px 700 */
    --font-ys-header-48-medium: 500 3rem/1.0833em YS Text, sans-serif; /* 48px 500 */
    --font-ys-lead-56-bold: 700 3.5rem/1.0714em YS Text, sans-serif; /* 56px 700 */
    --font-ys-lead-56-medium: 500 3.5rem/1.0714em YS Text, sans-serif; /* 56px 500 */
    --font-ys-lead-64-bold: 700 4rem/1.0625em YS Text, sans-serif; /* 64px 700 */
    --font-ys-lead-64-medium: 500 4rem/1.0625em YS Text, sans-serif; /* 64px 500 */
    --font-ys-lead-80-bold: 700 5rem/1em YS Text, sans-serif; /* 80px 700 */
    --font-ys-lead-80-medium: 500 5rem/1em YS Text, sans-serif; /* 80px 500 */
}

.prisma {
    --color-palette-black-100: #000000;
    --color-palette-black-15-a: rgba(0, 0, 0, 0.15);
    --color-palette-black-15: #d9d9d9;
    --color-palette-black-25-a: rgba(0, 0, 0, 0.25);
    --color-palette-black-25: #bfbfbf;
    --color-palette-black-3: #f7f7f7;
    --color-palette-black-50-a: rgba(0, 0, 0, 0.5);
    --color-palette-black-50: #808080;
    --color-palette-black-8-a: rgba(0, 0, 0, 0.08);
    --color-palette-black-85-a: rgba(0, 0, 0, 0.85);
    --color-palette-black-85: #262626;
    --color-palette-black-8: #ebebeb;
    --color-palette-blue-15-a: rgba(0, 92, 255, 0.15);
    --color-palette-blue-50-a: rgba(0, 92, 255, 0.5);
    --color-palette-blue-dark: #0751d3;
    --color-palette-blue-grayish-30-l: #404959;
    --color-palette-blue-grayish-90-l: #dae2f1;
    --color-palette-blue-grayish-95-l: #edf1f8;
    --color-palette-blue-grayish-98-l: #f8f9fc;
    --color-palette-blue-light: #acc7f6;
    --color-palette-blue-mild: #4f88ec;
    --color-palette-blue-normal: #005cff;
    --color-palette-blue-pale: #e9f1ff;
    --color-palette-green-dark: #129368;
    --color-palette-green-light: #c0e3d7;
    --color-palette-green-normal: #0eaf79;
    --color-palette-green-pale: #edf7f4;
    --color-palette-orange-dark: #d36e07;
    --color-palette-orange-light: #f6d1ac;
    --color-palette-orange-normal: #ff8000;
    --color-palette-orange-pale: #fef2e6;
    --color-palette-pink-normal: #ec55a6;
    --color-palette-pink-pale: #fceef5;
    --color-palette-purple-normal: #6740fc;
    --color-palette-purple-pale: #f0edfd;
    --color-palette-red-dark: #d35543;
    --color-palette-red-light: #f6b5ac;
    --color-palette-red-normal: #ff614b;
    --color-palette-red-pale: #fdeeed;
    --color-palette-white-100: #ffffff;
    --color-palette-white-15-a: rgba(255, 255, 255, 0.15);
    --color-palette-white-25-a: rgba(255, 255, 255, 0.25);
    --color-palette-white-50-a: rgba(255, 255, 255, 0.5);
    --color-palette-white-8-a: rgba(255, 255, 255, 0.08);
    --color-palette-white-85-a: rgba(255, 255, 255, 0.85);
    --color-palette-yellow-dark: #d8b733;
    --color-palette-yellow-light: #f8e8ab;
    --color-palette-yellow-normal: #f7d445;
    --color-palette-yellow-pale: #fdf7e3;
}

.prisma {
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-36: 36px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-64: 64px;
    --spacing-80: 80px;
    --spacing-120: 120px;
}

.prisma_theme_dark {
    --color-accent-critical: #d35543;
    --color-accent-main-a: #5087eb;
    --color-accent-main-b: #005cff;
    --color-accent-neutral: #f7f7f7;
    --color-accent-notice: #d36e07;
    --color-accent-success: #129368;
    --color-accent-warning: #d8b733;
    --color-background-alternate: #000000;
    --color-background-default: #262626;
    --color-background-glassy-a: rgba(255, 255, 255, 0.2);
    --color-background-glassy-b: rgba(255, 255, 255, 0.15);
    --color-background-glassy-c: rgba(255, 255, 255, 0.08);
    --color-background-highlighted: #404959;
    --color-background-overlay: rgba(0, 0, 0, 0.85);
    --color-background-stroke: #474747;
    --color-content-inverted-primary: rgba(0, 0, 0, 0.85);
    --color-content-inverted-secondary: rgba(0, 0, 0, 0.5);
    --color-content-primary: rgba(255, 255, 255, 0.85);
    --color-content-secondary: rgba(255, 255, 255, 0.5);
    --color-content-tertiary: rgba(255, 255, 255, 0.25);
}

.prisma_theme_light {
    --color-accent-critical: #ff614b;
    --color-accent-main-a: #005cff;
    --color-accent-main-b: #0751d3;
    --color-accent-neutral: #262626;
    --color-accent-notice: #ff8000;
    --color-accent-success: #0eaf79;
    --color-accent-warning: #f7d445;
    --color-background-alternate: #f7f7f7;
    --color-background-default: #ffffff;
    --color-background-glassy-a: rgba(0, 0, 0, 0.08);
    --color-background-glassy-b: rgba(0, 0, 0, 0.15);
    --color-background-glassy-c: rgba(0, 0, 0, 0.25);
    --color-background-highlighted: #edf1f8;
    --color-background-overlay: rgba(0, 0, 0, 0.25);
    --color-background-stroke: #ebebeb;
    --color-content-inverted-primary: #ffffff;
    --color-content-inverted-secondary: rgba(255, 255, 255, 0.5);
    --color-content-primary: rgba(0, 0, 0, 0.85);
    --color-content-secondary: rgba(0, 0, 0, 0.5);
    --color-content-tertiary: rgba(0, 0, 0, 0.25);
}
