.click\:scale {
  cursor: pointer;
}

.click\:scale:active {
  transition: all 100ms ease-in;
  transform: scale(0.925);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0)
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, .15);
  border-radius: 9999px
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, .3)
}

html,
body,
#root {
  height: 100vh;
}

.check::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  z-index: 10;
  width: 2px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.cm-scroller {
  @apply outline-none focus:outline-none;
}

.cm-gutterElement {
  @apply text-white opacity-80;
}